:root {
	--container_width:1000px;
	--main_content_padding:40px;
	--content_color:#FAFAFA;
}

.container {
	font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
	background-color: #F5F5F5;
}

.title_area {
	width: var(--container_width);
	margin: 0 auto;
	padding-top:  40px;
}
.title_area2 {
	margin: 40px;
}

/* blog title */
h1 {
	font-family:  "Yu Gothic" , system-ui;
	font-size: xxx-large;
	font-weight: bolder;

}

/* post title */
h2 {
	font-size: xx-large;
	font-weight: bolder;
	padding : 20px;
	color:#888;	
}

ul.menu {
	overflow: hidden;
}

a {
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.menu li {
	float:left;
	width:150px;
	text-align: center;
}


.menu_area {
	background:#000;
	height: 50px;
}

.menu_area2 {
	width: var(--container_width);
	margin: 0 auto;

	font-family:  "Yu Gothic" , system-ui;
	font-size: large;
	color: #FFF;
	margin-top:  10px;
	line-height: 50px;
}
.main_area {
	width: var(--container_width);
	margin: 0 auto;
	border:solid #F00 1px;
}

.main_area2 {
	display: inline-flex;
	border:solid #0F0 1px;

}

/*
.main_content_area {
	margin-top:  40px;
	margin:40px;

}
*/

.sidebar_area {
/*	width:400px;*/
/*	padding:var(--main_content_padding);*/
/*	background-color: var(--content_color);	*/
	background-color:#b0b0b0;
	margin-top:40px;

}

.post_produce {
/*	width:800px;*/
/*	padding:var(--main_content_padding);*/
	background-color: var(--content_color);	
	margin:40px;
	border:solid #000 1px;
}


.post_produce_category {
	text-align: center;
}


.date_item {
	text-align: center;
	padding-top: 80px;
}


.post_title_item {
/*	text-align: center;*/
	font-size: larger;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.post_thumbnail img {
	   border:solid #00F 4px;
/*	   text-align: center;
	   margin: 0 auto;*/
	   background-color: #FF0;	
	   display: block;
/*
	   margin-left: auto;
	   margin-right: auto;
*/
	margin:0px auto;
}
   
/*
.menu li.etc  {

}

.menu li.word  {

}
*/
.wp-block-code {
	/*	max-width:1000px;*/
		display: inline-block;
		border: 1px solid #ccc; 	
}

	