.container {
	font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
	background-color: #F5F5F5;
}

.title_area {
	width: 1100px;
	margin: 0 auto;
	padding-top:  40px;
}
.title_area2 {
	margin: 40px;

}

/* blog title */
h1 {
	font-family:  "Yu Gothic" , system-ui;
	font-size: xxx-large;
	font-weight: bolder;

}

/* post title */
h2 {
	font-size: xx-large;
	font-weight: bolder;
	padding : 60px;
	padding-left:80px;
	padding-right:80px;
	color:#888;	
}

ul.menu {
	overflow: hidden;
}

a {
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}


.menu li {
	float:left;
	width:150px;
	text-align: center;
}


.menu_area {
	background:#000;
	height: 50px;
}

.menu_title {
	font-family:  "Yu Gothic" , system-ui;
	font-size: large;
	color: #FFF;
	width: 1100px;
	margin: 0 auto;
	margin-top:  10px;
	line-height: 50px;

}



.main_area {
	display: inline-flex;

}
.main_content_area {
	width: 1100px;
	margin: 40 auto;
/*	margin-top:  40px;*/
	margin:40px;

}
.sidebar_area {
	margin:40px;
	background-color: #FAFAFA;	
}
.post_produce {
	background-color: #FAFAFA;	
}

.post_produce_category {
	text-align: center;
}

.date_item {
	text-align: center;
	padding-top: 80px;
}

.post_title_item {
	text-align: center;
	font-size: larger;
}


/*
.menu li.home::before {
	content: "\f015";
	font-family: 'font Awesome 5 Free';
	font-weight: 900;
}

.menu li.pc {

}

.menu li.arch  {

}

.menu li.etc  {

}

.menu li.word  {

}
*/
.wp-block-code {
	/*	max-width:1000px;*/
		display: inline-block;
		border: 1px solid #ccc; 	
}

	