/*
 * 基本Paddingは、上におく。
 *
 */


:root {
	--main_contents:800px;
	--sidebar_width:400px;
	--common_padding:40px;

/*	--container_width: calc(var(--main_contents) + var(--sidebar_width) +  (var(--common_padding) * 3 ));*/
	--container_width:1320px;

	--post_submit_width:160px;



	--serach_text_width:180px;
	--serarhcfiled_heigth:50px;

	--searchfile_buttom_height:30px;
	--searchfile_buttom_width:30px;


	/*
	 *** color ***
	 */
	--background_color:#f2f2f2;
	--content_color   :#FAFAFA;
	--text_color :#888;


	--menu_background_color:#000;
	--menu_text_color:#FFF;

}


/*
 **** all ****
 */

.container {
	font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
	background-color:var(--background_color);
}

a {
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/* blog title */
h1 {
	font-family:  "Yu Gothic" , system-ui;
	font-size: xxx-large;
	font-weight: bolder;
}

/* post title */
h2 {
	font-size: xx-large;
	font-weight: bolder;
	color: var(--text_color);	
}


/*
 ***   title  ****
 */
.title_area {
	width: var(--container_width);
	margin: 0 auto;
	padding:  var(--common_padding);
}

/*
.title_text_area {
	margin: var(--common_padding);
	border:solid #00F 1px;

}
*/
.title_text_area h1 {
	display:inline;
}

.title_description {
/*	display:inline;*/

}


/*
 ***   menu  ****
 */


ul.menu {
	overflow: hidden;
}

.menu li {
	float:left;
	padding-left: var(--common_padding);
}


.menu_area {
	background:var(--menu_background_color);
	height: 50px;
/*	border:solid #0FF 1px;*/
}

.menu_text_area {
	width: var(--container_width);
	margin: 0 auto;

	font-family:  "Yu Gothic" , system-ui;
	font-size: large;
	color:var(--menu_text_color);
	line-height: 50px;
}



/*
 ***   main  ****
 */

.main_area {
	width: var(--container_width);
	margin: 0 auto;
/*	border:solid #F00 1px;*/
}

.main_area2 {
	display: inline-flex;
/*	border:solid #0F0 1px;*/

}

/*
.main_content_area {
	margin-top:  40px;
	margin:40px;

}
*/

.sidebar_area {
	width:var (--sidebar_width);
/*	padding:var(--common_padding);*/
/*	background-color: var(--content_color);	*/
/*	margin-top:var(--common_padding);*/

}


/* index php */

.post_produce {
	width: var(--main_contents);

	/*	width:600px;*/
/*	padding:var(--common_padding);*/
	background-color: var(--content_color);	
	margin:var(--common_padding);
	padding-bottom: var(--common_padding);

	/*	border:solid #00F 1px;*/
}


.post_produce_category {
	text-align: center;
}


.date_item {
	text-align: center;
	padding-top: var(--common_padding);
}


.post_title_item {

	padding:var(--common_padding);
/*	border:solid #00f 1px;*/
}

.post_thumbnail img {

    display: block;

	text-align: center;
	margin:0px auto;
    max-width: 100%;
    height: auto;

	/*border:solid #00F 1px;*/

}


.post_text {
	padding: var(--common_padding);
	line-height: 24px;
	color: var(--text_color);	
	font-size: 20px;

}   

.post_submit {
/*	width:var (--post_submit_width);*/
	width:160px;
	border: solid var(--text_color) 1px;
	margin: auto;
	text-align: center;
	padding:20px;
/*	padding-bottom:20px;*/
}




/* single php */
.post_content_text {
	width: var(--main_contents);
	padding: var(--common_padding);
	color: var(--text_color);	
	font-size: 20px;

}
.post_content_text  p {
	padding-top:30px;
	line-height: 30px;
}

.post_content_text h1, 
.post_content_text h2, 
.post_content_text h3, 
.post_content_text h4,
.post_content_text h5,
.post_content_text h6 {
	padding-top:40px;
	padding: 1rem 2rem;
	margin-top:20px;

	font-weight: bolder;

	background-color: var(--background_color);
	color: var(--text_color);	
}

.post_content_text h3 {
	border-left:6px solid #000;
	font-size: xx-large;
}

.post_content_text h4 {
	font-size: xx-large;
	font-weight: bolder;
	border-bottom: 3px solid #000;
}

.post_content_text h5 {
	border-left:4px solid #000;
	font-size: x-large;
	font-weight: bolder;
}

.post_content_text h6 {
	font-size: x-large;
	border-bottom: 2px solid #000;
}

.post_content_text img {
    max-width: 100%;
    height: auto;
}



/*
 **** category ***
 */

 .main_category h2 {
	text-align: center;
	font-size: xx-large;
	font-weight: bolder;
	color: var(--text_color);
	margin-left: var(--common_padding);	
	background-color: var(--background_color);
}


/*
.wp-block-image{
	width: 512px;
	height : 199px;
}
*/
/*
.menu li.etc  {

}

.menu li.word  {

}
*/
.wp-block-code {
	/*	max-width:1000px;*/
	font-size:medium;
	margin-top: 10px;
	padding-top:20px;
	padding-bottom:20px;
	padding-left:10px;
	padding-right:10px;
	display: inline-block;
	border: 1px solid #ccc;
	margin-right: 0px; 	
}


/*
.sidebar-wrapper {
	margin-bottom: 2rem;
  }
   
  .sidebar-title {
	font-size: 1.1rem;
	box-sizing: border-box;
	margin: 0 0 1.2rem;
	padding: .5rem;
	color: #000;
	border-bottom: 4px solid #03162f;
  }
*/
.widget {
/*	margin-top:var(--common_padding);*/

}

.searchfield {
	width: var(--serach_text_width);
	border: 1px solid #ccc;
	background-color:var(--background_color);
	height:var(--serarhcfiled_heigth);
}

.searchsubmit {
	height:var(--searchfile_buttom_height);
	width:var(--searchfile_buttom_width);
}

li.widget {
	list-style: none;
	margin-top:var(--common_padding);
	background-color:var(--content_color);
	font-size: large;
	padding: var(--common_padding);


}

.widgettitle{
	padding-bottom: var(--common_padding);
}



.widget_recent_entries li {
	padding-top: 15px;
	line-height: 24px;
}

.widget_categories li {
	padding-top: 10px;
/*	line-height: 24px;*/

}




/*@media screen and (max-width: 959px) {*/

@media screen and (max-width: 1320px) {
	:root {
		--main_contents:90%;
		--container_width:100%;
/*		--sidebar_width:200;*/
	
	}
	
	.main_area2 {
		display: flex;
		flex-direction: column;
		border:solid #0F0 1px;
		word-break: break-all;/* URLを折り返すため*/
	
	}
		
}


@media screen and (max-width: 600px) {
	:root {
		--main_contents:90%;
		--container_width:100%;
		--common_padding:20px;
	
	}

/*
 ***   title  ****
 */

	.title_area {
		width: var(--container_width);
/*		margin: 0 auto;*/
/*		padding:  var(--common_padding);*/
/*		border:solid #00F 3px;*/
	}
	/*
	.title_text_area {
		margin: 0px;
	}
	*/
	
	.title_text_area h1 {
		display:block;
/*	border:solid #00F 1px;*/
	
	}
	
	.title_description {
/*		border:solid #0F0 1px;*/
		display:inline-block;
		padding-top: 10px;

	}
	
	
	.menu li {
		float:none;
		text-align: left;

	}
	.menu_area {
		height: 150px;
	}
	.menu_text_area {
		line-height: 30px;
	}
	
	
	
	.main_area2 {
		display: flex;
		flex-direction: column;
/*		border:solid #0F0 1px;*/
		word-break: break-all;/* URLを折り返すため*/
	
	}
		
}


/*
@media screen and (max-width: 840px) {

:root {
	--main_contents:80%;
	--container_width:90%;

}
	.main_area2 {
			display: flex;
			flex-direction: column;
			border:solid #0F0 1px;
		
		}
			
	}
	
/*
@media screen and (max-width: 480px) {
	:root {
		--container_width:300px;
	}
	.main_area2 {
		display: flex;
		flex-direction: column;
		border:solid #0F0 1px;
	
	}
}
*/